
.title{
    width: 80%;
    height: 80px;
    padding: 20px;
    position: relative;
    top: 5px;
    left: 10%;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    background-color: peachpuff;
    font-family: 'Play', sans-serif;
    box-shadow: 0 8px 6px -6px black;
    
}

.num{
    font-size: 40px;
    font-family: 'Play', sans-serif;
    width: 40%;
    position: relative;
    left: 30%;
    top: 40px;
}

.inpt{
    position: relative;
    left: 27%;
    top: 10px;
    border: solid 1px;
    width: 45%;
    padding: 15px;
}

.select-style {
    border: 1px solid #ccc;
    width: 60px;
    height: 29px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
}

/* Button */

.button-small{
    color: #fff !important;
    word-spacing: 0.25em;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    border: none;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}

.button-small{
    padding: 3px 12px 3px;
    font-size: 11px;
    color: #fff;
    text-shadow: none;
}
.button-small:hover{
    color: rgba(255,255,255, 0.75);
    text-decoration: none;
}

.rounded3 {
    border-radius: 3px;
}

.orange_light {
    background: #FBAD7D;     
}

