<html>
    <head>
        <title>PHONE NUMBER FORMATTING</title>        
    </head>
    <body>
        
        <div ng-app="myApp" ng-controller="myCtrl">
            
            <h1 class="title">PHONE NUMBER FORMATTING APPLICATION</h1>
            <div class="inpt" id="inpt">
                <label style="font-family: 'Play', sans-serif;font-size: 17px;margin-right: 10px;">ENTER PHONE NUMBER: </label>

                <select class="select-style" id="c_code" ng-model="co_code" ng-options="x for x in country_code" ></select>
                &nbsp;-&nbsp;
                <input ng-model="phn_number" type="text" name="phnNum" maxlength="10" style="margin-right:10px;" />
                <input class="button-small orange_light rounded3" type="button" name="btn" value="SUBMIT" ng-click="changeValue(co_code,phn_number);" />
            </div>
            
            <p class="num" ng-show="new_phnNum !== ''">{{new_phnNum | phnNumFormat }}</p>
            
        </div>
        
        
        <!-- imports -->
        
        <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="CSS/style.css" >
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="JS/script.js"></script>
        
    </body>
</html>